# Server Port
PORT=3001

# Prisma Database Connection URL (MySQL / MariaDB for Support Platform Golden DB)
DATABASE_URL="mysql://aycreationconnect:ay@creationconnect123$@localhost:3306/golden_qsr_db"

# Master Secret for Cryptographic Licensing Engine
MASTER_LICENSE_SECRET="QSR_MASTER_GOLDEN_SECRET_2026_AY_CONNECT"
